<!--
<html>
<bovy>
    <h1>Watch this space</h1>

    <img src="/static/background.png">
</bovy>


</html> -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gamedev Canvas Workshop</title>
    <style>
    	* { padding: 0; margin: 0; }
    	canvas { background: #eee; display: block; margin: 0 auto; }
    </style>
</head>
<body>
    <style media="screen">
        bovy {
            margin: 0;
            padding: 0;
        }
        #myCanvas {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    </style>
    <!-- <meta name="viewport" content="width=device-width,
    initial-scale=1, maximum-scale=1, user-scalable=0"/> -->


    <!-- <canvas id="myCanvas" width="480" height="320"></canvas> -->
    <canvas id="myCanvas"></canvas>

<!-- <script type="text/javascript" src="/static/sound.js"></script> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<script type="text/javascript">
    var canvas = document.getElementById("myCanvas");
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    var ctx = canvas.getContext("2d");

    var cw = canvas.width;
    var ch = canvas.height;

    objects = [];

    var isPhone = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);

    function make_healthBar(x, y, w, h) {
        var healthBar = document.createElement('progress');
        healthBar.value = 1.0;
        healthBar.max = 1.0;
        healthBar.style.position = "absolute";
        healthBar.style.left = (x*cw).toString() + 'px';
        healthBar.style.top = (y*ch).toString() + 'px';
        healthBar.style.width = (w*cw).toString() + 'px';
        healthBar.style.height = (h*ch).toString() + 'px';
        healthBar.style.background = 'red';
        document.body.appendChild(healthBar);
        return healthBar
    }

</script>

<script type="text/javascript", src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js">

</script>
<!-- <script type="text/javascript" src = {{'/static/images.js?rndstr=' + r }}></script>

<script type="text/javascript" src = {{'/static/sound.js?rndstr=' + r }}></script>

<script type="text/javascript" src = {{'/static/entities.js?rndstr=' + r }}></script> -->

<script type="text/javascript" src = '/scripts/images.js'></script>

<script type="text/javascript" src = '/scripts/sound.js'></script>

<script type="text/javascript" src = '/scripts/entities.js'></script>

<script type="text/javascript" src = '/scripts/loop.js'></script>



<script>


    function reload_game() {
        objects = [];
        ball = extend(ballObject, {});
    }

    var objects = [];
    objects.push(ball);
    objects.push(topSled);
    objects.push(bottomSled);
    objects.push(bottomPlayer);
    objects.push(topPlayer);

    function init_ships() {
        var shipVertSpace = 0.7 * shipObject.h;
        make_ship_fleet(0.5 - shipVertSpace - constants.shipRows * (shipObject.h + shipVertSpace), shipVertSpace, 'top');
        make_ship_fleet(0.5, shipVertSpace, 'bottom');
    }
    function make_ship_fleet(topLeftY, shipVertSpace, side) {
        var shipHorSpace = (1 - constants.shipCols * shipObject.w) / (constants.shipCols + 1);

        var curX = shipHorSpace;
        var curY = topLeftY;
        for (var rowNum = 0; rowNum < constants.shipRows; rowNum++) {
            for (var colNum = 0; colNum < constants.shipCols; colNum++) {
                var ship = make_ship(curX, curY, side);
                objects.push(ship);
                curX += shipObject.w + shipHorSpace;
            }
            curY += shipObject.h + shipVertSpace;
            curX = shipHorSpace;
        }
    }


    init_ships();

    socketManager = {
        isMaster: true,
    }

    var socket = io();
    socket.on('message', function(data) {
        if(data == 'SLAVE') {
            socketManager.isMaster = false;
        }
        console.log(data);
    });
    setInterval(function() {
        if (socketManager.isMaster) {
            packet = {
                ball: ball,
                bottomSled: {
                    x: bottomSled.x,
                }
            };

            //console.log('Sending update with', packet);
            socket.emit('update', packet);
        }
    }, 1000/30);
    setInterval(function() {
        if (socketManager.isMaster) {
            socket.emit('objects', objects);
        }
    }, 1000/15);
    socket.on('update', function(data) {
        Object.assign(ball, data.ball);
        //console.log('Recieved update with', packet);
        bottomSled.x = data.bottomSled.x;
    });
    socket.on('log', function(data) {
        console.log(data);
    });
    socket.on('objects', function(data) {
        //console.log(data);
        // objects = Object.assign(data);
        sentObjects = []
        for (var i = 0; i < data.length; i++) {
            var o = null;
            var d = data[i];
            switch (d.name) {
                case "ball":
                    o = extend(ballObject, d);
                    break;
                case "topShip": case "bottomShip":
                    o = extend(make_ship(0, 0, d.side), d);
                    break;
                case "topSled":
                    o = extend(topSled, d);
                    break;
                case "bottomSled":
                    o = extend(bottomSled, d);
                    break;
                case "bullet":
                    o = extend(bulletObject, d);
                    break;
                case "bomb":
                    o = extend(bombObject, d);
                    break;
                case "explosion":
                    o = extend(make_explosionObject(), d);
                    o.sprite.image = image1;
                    break;


            }
            if (o != null)
                sentObjects.push(o);

        }
        objects = sentObjects;

    });



    // if (isPhone) {
    //     //canvas.webkitRequestFullscreen()
    //     window.addEventListener("deviceorientation", function(e) {
    //         var x = e.gamma;
    //         sled.vx = x*0.05;
    //
    //     }, false);
    //     window.addEventListener("touchstart", function() {
    //         bottomShooting = true;
    //         objects.push(make_bullet(BOTTOM));
    //         soundManager.play('pew');
    //     }, false);
    //     window.addEventListener("touchend", function() {
    //         bottomShooting = false;
    //     })
    // }


    var topPlayerAI = {
        yIntercept: 0,
        closestBomb: {bomb: null, y: canvas.height},
        update: function() {
            ballM = ball.vy / ball.vx;
            ballB = ball.y - ballM * ball.x;
            this.yIntercept = -ballB/ballM;
            var goalX = 0.5;

            topSled.isShooting = false;

            this.closestBomb = {bomb: null, y: 1};
            for (var i = 0; i < objects.length; i++) {
                o = objects[i];
                if (!o.destroyed && o.name == 'bomb' && o.side == 'bottom' && o.y < this.closestBomb.y) {
                    this.closestBomb = {bomb: o, y: o.y};
                }
            }

            if (this.yIntercept > 0 && this.yIntercept < 1 && ball.vy < 0) {
                goalX = this.yIntercept;
            }
            else if (this.closestBomb.bomb != null) {
                goalX = this.closestBomb.bomb.x;
            }

            if (Math.abs(goalX - topSled.x - topSled.w/2) < 0.015) {
                topSled.vx = 0;
                if (this.closestBomb.bomb != null && goalX == this.closestBomb.bomb.x) {
                    topSled.isShooting = true;
                }
            }
            else if (topSled.x + topSled.w/2< goalX) {
                topSled.vx = 0.0005;
            }
            else {
                topSled.vx = -0.0005;
            }

        },
        draw: function() {
            ctx.globalAlpha = 0.5;
            if (this.closestBomb.bomb != null) {
                ctx.drawImage(image1, 0, 39, 18, 8, this.closestBomb.bomb.x*cw, (topSled.y + topSled.h)*ch + 5, 9*3, 5*3);
            }

            if (ball.vy < 0) {

                ctx.drawImage(ballImage, 14, 208, 163, 162, (this.yIntercept - ball.r)*cw, 0, 2*ball.r*cw, 2*ball.r*cw);
            }
            ctx.globalAlpha = 1;



        }
    }

    loopController.loop();
</script>


</body>
</html>
